{{ define "main" }}
<main>
    <div class="homepage">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                    <span class="minor_line">Personal notebook on</span>
                    <br>
                    <span class="major_line">Data Science &amp; Artificial Intelligence</span>
                    <br>
                    <span class="minor_line">Random scribbling of whatever comes to mind</span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 blurb">
                <p>
                    <a href="https://hampussanden.com/about/hampus_sanden/">I am a data analyst</a> with a decade of experience applying statistical
                    learning, artificial intelligence, and software engineering to political, social, and humanitarian efforts
                    -- from election monitoring to disaster relief.</p>
            </div>
        </div>

        <div class="row" id="python">
            <div class="col-sm-12">
                <h3 class="category_header">Python</h3>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Basics</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/basics/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Data Wrangling</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/data_wrangling/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">Data Visualisation</h4>
                    <div class="card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/python/data_visualisation/").ByTitle }}
                            <li>
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="articles">
            <div class="col-sm-12">
                <h3 class="category_header">Articles</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="article_list card-body">
                        <ul>
                            {{ range (where .Pages "File.Dir" "in" "/articles/") }}
                            <li>
                                {{ .PublishDate.Format "Jan 2006" }} -
                                <a href="{{.Permalink}}">{{.Title}}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</main>
{{ end }}