/* Background */ .chroma { background-color: #f9f9f9}
/* Error */ .chroma .err { color: #0000FF;}
/* LineTableTD */ .chroma .lntd { ; vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { ; border-spacing: 0; padding: 0; margin: 0; border: 0; width: 100%; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { background-color: #ffffcc; display: block; width: 100% }
/* LineNumbersTable */ .chroma .lnt { ; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; display: block; }
/* LineNumbers */ .chroma .ln { ; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .k { color: #008000; font-weight: bold }
/* KeywordConstant */ .chroma .kc { color: #008000; font-weight: bold }
/* KeywordDeclaration */ .chroma .kd { color: #008000; font-weight: bold }
/* KeywordNamespace */ .chroma .kn { color: #008000; font-weight: bold }
/* KeywordPseudo */ .chroma .kp { color: #0088ff; font-weight: bold }
/* KeywordReserved */ .chroma .kr { color: #228899; font-weight: bold }
/* KeywordType */ .chroma .kt { color: #6666ff; font-weight: bold }
                 .chroma .n { color: #4b4b4b }
/* NameAttribute */ .chroma .na { color: #0000FF }
/* NameBuiltin */ .chroma .nb { color: #0000FF }
/* NameClass */ .chroma .nc { color: #0000FF; font-weight: bold }
/* NameConstant */ .chroma .no { color: #0000FF; font-weight: bold }
/* NameDecorator */ .chroma .nd { color: #0000FF; font-weight: bold }
/* NameEntity */ .chroma .ni { color: #0000FF }
/* NameException */ .chroma .ne { color: #0000FF; font-weight: bold }
/* NameFunction */ .chroma .nf { color: #0000FF; font-weight: bold }
/* NameLabel */ .chroma .nl { color: #0000FF; font-weight: bold }
/* NameNamespace */ .chroma .nn { color: #0000FF; font-weight: bold }
/* NameTag */ .chroma .nt { color: #0000FF }
/* NameVariable */ .chroma .nv { color: #0000FF }
/* NameVariableClass */ .chroma .vc { color: #0000FF }
/* NameVariableGlobal */ .chroma .vg { color: #0000FF }
/* NameVariableInstance */ .chroma .vi { color: #0000FF }
/* LiteralString */ .chroma .s { }
/* LiteralStringAffix */ .chroma .s1 { color: #BA2121  }
/* LiteralStringBacktick */ .chroma .sb { }
/* LiteralStringChar */ .chroma .sc { color: #BA2121}
/* LiteralStringDoc */ .chroma .sd { color: #BA2121}
/* LiteralStringEscape */ .chroma .se { color: #BA2121; ; font-weight: bold }
/* LiteralStringInterpol */ .chroma .si { background-color: #eeeeee }
/* LiteralStringOther */ .chroma .sx { color: #BA2121; }
/* LiteralStringRegex */ .chroma .sr { color: #BA2121; }
/* LiteralStringSymbol */ .chroma .ss { color: #BA2121; }
/* LiteralNumber */ .chroma .m { color: #008000; font-weight: bold }
/* LiteralNumberBin */ .chroma .mb { color: #008000; font-weight: bold }
/* LiteralNumberFloat */ .chroma .mf { color: #008000; font-weight: bold }
/* LiteralNumberHex */ .chroma .mh { color: #008000; font-weight: bold }
/* LiteralNumberInteger */ .chroma .mi { color: #008000; font-weight: bold }
/* LiteralNumberIntegerLong */ .chroma .il { color: #008000; font-weight: bold }
/* LiteralNumberOct */ .chroma .mo { color: #008000; font-weight: bold }
/* Operator */ .chroma .o { color: #008000 }
/* OperatorWord */ .chroma .ow { color: #008000; font-weight: bold }
/* Comment */ .chroma .c { color: #408080; font-style: italic }
/* CommentHashbang */ .chroma .ch { color: #408080; font-style: italic }
/* CommentMultiline */ .chroma .cm { color: #408080; font-style: italic }
/* CommentSingle */ .chroma .c1 { color: #408080; font-style: italic }
/* CommentSpecial */ .chroma .cs { color: #408080; font-weight: bold; font-style: italic }
/* CommentPreproc */ .chroma .cp { color: #408080 }
/* CommentPreprocFile */ .chroma .cpf { color: #408080 }
/* GenericDeleted */ .chroma .gd { color: #a00000 }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr { color: #0000FF }
/* GenericHeading */ .chroma .gh { color: #000080; font-weight: bold }
/* GenericInserted */ .chroma .gi { color: #00a000 }
/* GenericOutput */ .chroma .go { color: #888888 }
/* GenericPrompt */ .chroma .gp { color: #c65d09; font-weight: bold }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #800080; font-weight: bold }
/* GenericTraceback */ .chroma .gt { color: #0044dd }
/* TextWhitespace */ .chroma .w { color: #bbbbbb }
